In [1]:
import nltk

In [2]:
#nltk.download('punkt')

In [3]:
import pandas as pd

In [4]:
fake = pd.read_csv('fake_news.csv')

In [5]:
genuine = pd.read_csv('true_news.csv')

In [6]:
display(fake.columns)

Index(['title', 'text', 'subject', 'date'], dtype='object')

In [7]:
display(genuine.columns)

Index(['title', 'text', 'subject', 'date'], dtype='object')

In [8]:
fake.subject.value_counts()

News               9050
politics           6841
left-news          4459
Government News    1570
US_News             783
Middle-east         778
Name: subject, dtype: int64

In [9]:
genuine.subject.value_counts()

politicsNews    11272
worldnews       10145
Name: subject, dtype: int64

In [10]:
fake.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB

In [11]:
genuine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
dtypes: object(4)
memory usage: 669.4+ KB

In [12]:
fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [13]:
genuine.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [14]:
fake.shape

(23481, 4)

In [15]:
genuine.shape

(21417, 4)

In [16]:
fake['target'] = 0
genuine['target'] = 1

In [17]:
data = pd.concat([fake, genuine], axis=0)

In [18]:
data.head()

,title,text,subject,date,target
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [19]:
data.shape

(44898, 5)

In [20]:
data = data.reset_index(drop=True)

In [21]:
data.columns

Index(['title', 'text', 'subject', 'date', 'target'], dtype='object')

In [22]:
data = data.drop(['title', 'subject', 'date'], axis = 1)

In [23]:
data.head()

                                                text  target
0  Donald Trump just couldn t wish all Americans ...       0
1  House Intelligence Committee Chairman Devin Nu...       0
2  On Friday, it was revealed that former Milwauk...       0
3  On Christmas day, Donald Trump announced that ...       0
4  Pope Francis used his annual Christmas Day mes...       0

### Tokenization

In [24]:
from nltk.tokenize import word_tokenize

In [25]:
data['text'] = data['text'].apply(word_tokenize)   # for this nltk.download('punkt') is required

In [26]:
data.head()

                                                text  target
0  [Donald, Trump, just, couldn, t, wish, all, Am...       0
1  [House, Intelligence, Committee, Chairman, Dev...       0
2  [On, Friday, ,, it, was, revealed, that, forme...       0
3  [On, Christmas, day, ,, Donald, Trump, announc...       0
4  [Pope, Francis, used, his, annual, Christmas, ...       0

### Stemming

In [27]:
from nltk.stem.snowball import SnowballStemmer

In [28]:
porter = SnowballStemmer('english')

In [29]:
display(porter)

In [30]:
def stem_it(text):
    return [porter.stem(word) for word in text]

In [31]:
data['text'] = data['text'].apply(stem_it)

In [32]:
data.head()

                                                text  target
0  [donald, trump, just, couldn, t, wish, all, am...       0
1  [hous, intellig, committe, chairman, devin, nu...       0
2  [on, friday, ,, it, was, reveal, that, former,...       0
3  [on, christma, day, ,, donald, trump, announc,...       0
4  [pope, franci, use, his, annual, christma, day...       0

### Stopword Removal

In [33]:
# from nltk.corpus import stopwords
#nltk.download('stopwords')
#stopwords.words('english')

In [34]:
def stop_it(text):
    dt = [word for word in text if len(text)>2]            # Consider the word as stopword which have length 1 or 2
    return dt

In [35]:
data['text'] = data['text'].apply(stop_it)

In [36]:
data.head()

                                                text  target
0  [donald, trump, just, couldn, t, wish, all, am...       0
1  [hous, intellig, committe, chairman, devin, nu...       0
2  [on, friday, ,, it, was, reveal, that, former,...       0
3  [on, christma, day, ,, donald, trump, announc,...       0
4  [pope, franci, use, his, annual, christma, day...       0

In [37]:
data['text'] = data['text'].apply(' '.join)

In [38]:
data.head()

                                                text  target
0  donald trump just couldn t wish all american a...       0
1  hous intellig committe chairman devin nune is ...       0
2  on friday , it was reveal that former milwauke...       0
3  on christma day , donald trump announc that he...       0
4  pope franci use his annual christma day messag...       0

### Splitting up of data

In [39]:
from sklearn.model_selection import train_test_split

In [40]:
x_train, x_test, y_train, y_test = train_test_split(data['text'], data['target'], test_size=0.25)

### Vectorization

In [41]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [42]:
my_tfidf = TfidfVectorizer(max_df = 0.7)

In [43]:
tfidf_train = my_tfidf.fit_transform(x_train)

In [44]:
tfidf_test = my_tfidf.transform(x_test)

In [45]:
print(tfidf_train)

  (0, 53413)	0.04046438708718928
  (0, 47342)	0.04120246505993768
  (0, 21509)	0.03703638618252508
  (0, 8188)	0.024921283937102474
  (0, 42128)	0.0293346915016936
  (0, 9483)	0.018263627736397028
  (0, 88833)	0.015495081150790532
  (0, 69649)	0.023466785927188382
  (0, 37746)	0.06279732472407627
  (0, 66738)	0.027285311470410356
  (0, 69481)	0.017683575308427138
  (0, 31458)	0.033763618235064
  (0, 88907)	0.01852308590513591
  (0, 81859)	0.02852932334353891
  (0, 17567)	0.01696793909372063
  (0, 82559)	0.02438195287415222
  (0, 71491)	0.05231143954073292
  (0, 69105)	0.032499792635637285
  (0, 27473)	0.02882552759347839
  (0, 62495)	0.02083667314150556
  (0, 88167)	0.02324665766721258
  (0, 20575)	0.024606031869993706
  (0, 89208)	0.013726533690150722
  (0, 88460)	0.022589663296093337
  (0, 69185)	0.031189656313021303
  :	:
  (33672, 76754)	0.06106279932786661
  (33672, 81598)	0.02261090079729305
  (33672, 80004)	0.034881644902708564
  (33672, 18468)	0.15923557160417867
  (33672, 35782)	0.034464467266958065
  (33672, 81565)	0.03960514039605625
  (33672, 59977)	0.03908502434734503
  (33672, 12761)	0.048932909819982016
  (33672, 65639)	0.07713208616526114
  (33672, 30278)	0.10338363101153211
  (33672, 19573)	0.04979132546282025
  (33672, 32694)	0.038113502732867274
  (33672, 19098)	0.0893013723981925
  (33672, 20486)	0.1411280584667145
  (33672, 9675)	0.022563828026389517
  (33672, 65925)	0.051983195939797576
  (33672, 10725)	0.02375958295029922
  (33672, 64707)	0.04411383477808422
  (33672, 82390)	0.06536387878733886
  (33672, 61400)	0.034301275480075666
  (33672, 39102)	0.04761140795121389
  (33672, 9093)	0.04524357464895514
  (33672, 83444)	0.13314692824658092
  (33672, 23872)	0.11985353883260927
  (33672, 83799)	0.08616339305183958

In [46]:
print(tfidf_test)

  (0, 89909)	0.029881229162226033
  (0, 89140)	0.07423862955126038
  (0, 88732)	0.14795754025881022
  (0, 88708)	0.07261696395217893
  (0, 87979)	0.08218441776124477
  (0, 83799)	0.09833745845439372
  (0, 82390)	0.07459917126059291
  (0, 81585)	0.06722723043684438
  (0, 81376)	0.0456355964689382
  (0, 79052)	0.06034151060211155
  (0, 77775)	0.03074422554063501
  (0, 73823)	0.0607179213400891
  (0, 70183)	0.04001625815750826
  (0, 69995)	0.14646918738426096
  (0, 69803)	0.030830671172873476
  (0, 69408)	0.036984037151094086
  (0, 68938)	0.18804999357920998
  (0, 65738)	0.47442511637939716
  (0, 63573)	0.3009045522088827
  (0, 62500)	0.13520689241019151
  (0, 62446)	0.18521448752968828
  (0, 62445)	0.07460434133586864
  (0, 59229)	0.05990564247923283
  (0, 57335)	0.03726022879043069
  (0, 56064)	0.0715013276215337
  :	:
  (11224, 53730)	0.16851624373528057
  (11224, 44691)	0.15728106750941045
  (11224, 43288)	0.12723589813955716
  (11224, 42395)	0.19226940064138393
  (11224, 42152)	0.18800589086786557
  (11224, 41415)	0.14165125204985363
  (11224, 39837)	0.07086101928087184
  (11224, 39102)	0.048477336516969616
  (11224, 32694)	0.0776133778574612
  (11224, 31241)	0.37267841967145626
  (11224, 28816)	0.11717429689096505
  (11224, 25965)	0.10457916073975863
  (11224, 24364)	0.09529171064087029
  (11224, 21252)	0.10143581394492818
  (11224, 21167)	0.2986618393225813
  (11224, 20511)	0.08905911660845113
  (11224, 14132)	0.08333034225516871
  (11224, 11625)	0.18627049116671457
  (11224, 11309)	0.11766034012586299
  (11224, 11178)	0.15943810952399132
  (11224, 9215)	0.05975432158042904
  (11224, 9023)	0.10392700063544627
  (11224, 9002)	0.05965226648314491
  (11224, 7824)	0.08659721072882472
  (11224, 7480)	0.07878890441939171

### Logistic Regression

In [47]:
from sklearn.linear_model import LogisticRegression

In [48]:
from sklearn.metrics import accuracy_score

In [49]:
model_1 = LogisticRegression(max_iter=900)

In [50]:
model_1.fit(tfidf_train, y_train)

LogisticRegression(max_iter=900)

In [51]:
pred_1 = model_1.predict(tfidf_test)

In [52]:
pred_1

array([1, 1, 0, ..., 1, 0, 1], dtype=int64)

In [53]:
accuracy_score(y_test, pred_1)

0.9879732739420936

### Passive Aggressive Classifier

In [54]:
from sklearn.linear_model import PassiveAggressiveClassifier

In [55]:
model_2 = PassiveAggressiveClassifier(max_iter=50)

In [56]:
model_2.fit(tfidf_train, y_train)

PassiveAggressiveClassifier(max_iter=50)

In [57]:
pred_2 = model_2.predict(tfidf_test)

In [58]:
accuracy_score(y_test, pred_2)

0.996347438752784